.DS_Store

# Dependencies
node_modules/
frontend/node_modules/

# Build outputs
dist/
frontend/dist/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log

# Bun
bun.lockb

# PocketBase
backend/pocketbase
backend/pocketbase.exe
backend/pb_data/
backend/pb_public/
